<div class="container">
    <h1 class="bg-primary text-white text-center mt-3">Registros de ICI's</h1>
    <form>
      <div class="form-group">
        <label class="fw-bold" for="search">Buscar</label>
        <input type="text" class="form-control" id="search" placeholder="Ingrese su criterio de búsqueda">
      </div>
      <button type="submit" class="btn btn-primary btn-lg mt-2">Buscar</button>
    </form>
    <br>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>ID del Registro</th>
          <th>Nombre</th>
          <th>Correo</th>
          <th>ID Institucional</th>
          <th>Semestre</th>
          <th>Nivel de Inglés</th>
          <th>Otro Idioma</th>
          <th>Lenguajes de Programación</th>
          <th>HTML y CSS</th>
          <th>Frameworks</th>
          <th>GIT</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>Alejandro Camarillo De La Cruz</td>
          <td>correo1@example.com</td>
          <td>ID1</td>
          <td>10</td>
          <td>Intermedio</td>
          <td>Español</td>
          <td>JavaScript, Python</td>
          <td>Avanzado</td>
          <td>Angular, React</td>
          <td>Sí</td>
        </tr>
        <tr>
          <td>2</td>
          <td>Jesús Asdrubal Serrano Sánchez</td>
          <td>correo2@example.com</td>
          <td>ID2</td>
          <td>10</td>
          <td>Avanzado</td>
          <td>Inglés</td>
          <td>Java, C++</td>
          <td>Intermedio</td>
          <td>Vue.js</td>
          <td>Sí</td>
        </tr>
      </tbody>
    </table>
  </div>
  